@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400;700&display=swap');
/*
font-family: 'Atkinson Hyperlegible', sans-serif;
font-family: 'Cinzel', serif;
COLOUR PALETTE
    #000807 black
    #A2A3BB gray
    #9395D3 dark violet
    #B3B7EE light violet
    #FBF9FF white
*/
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/*---------------------------------------------------------------------------------------------*/
/*                                      MAIN CLASSES                                           */
/*---------------------------------------------------------------------------------------------*/

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(/img/stars.gif);
    background-repeat: repeat-x;
    background-size: 18vh;
}
.indexbody {
    background-color: #FBF9FF;
    overflow: hidden;
}

/*---------------------------------------------------------------------------------------------*/
/*                                    LIST TAB CLASSES                                         */
/*---------------------------------------------------------------------------------------------*/

.liTab {
    float: left;
}
.liTab a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.46vh;
    text-decoration: none;
}

.liTab a:hover {
    background-color: #B3B7EE;
    color: black
    
}

/*---------------------------------------------------------------------------------------------*/
/*                                     BUTTON CLASSES                                          */
/*---------------------------------------------------------------------------------------------*/

.mainButton{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    background-color: #090809;
    color: #FFFCF9;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5.55vh; 
}
.activeButton {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    background-color: #9395D3;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5.55vh; 
}

/*---------------------------------------------------------------------------------------------*/
/*                                      DIV CLASSES                                            */
/*---------------------------------------------------------------------------------------------*/

.mainCollumn {
    float: left;
    height: 100%;
    width: calc(100% / 3);
    border-right: 0.3vw dotted #9F9ED0;
    background-color: #090809;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1.5vw;
}
.JakeTextHistoria {
    width: 30vw;
    height: 80vh;
    float: left;
    margin: 1vw;
}
.JIHT {
    float: right;
    width: 30vw;
    height: auto;
    border: .5vh solid #9395D3;
    border-radius: 2vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 1vh;
    margin-right: 1vh;
}
.isaacbild {
    float: left;
    width: 15vw;
    height: auto;
    border: .5vh solid #9395D3;
    border-radius: 2vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 10vh;
    margin-left: 10vh;
    
}    
.JakeHistoriaBildtext {
    float: right;
    width: 27vw;
    margin-right: 2vw;
    text-align: justify;
}
.JerryTEXTHISTORIA {
    width: 40vw;
    height: 90vh;
    float: left;
}
.Jeremiahbild {
    float: left;
    width: 20vw;
    height: auto;
    border: .5vh solid #9395D3;
    border-radius: 2vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 10vh;
    margin-left: 10vh;   
}
/*---------------------------------------------------------------------------------------------*/
/*                                      TEXT CLASSES                                           */
/*---------------------------------------------------------------------------------------------*/

.Big {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 3vh;
    color: #000807;
    text-align: justify;
}
.Bigger {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 4vh;
    color: #000807;
    text-align: justify;
}
.Small {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 2vh;
    color: #000807;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MISC. CLASSES                                              */
/*---------------------------------------------------------------------------------------------*/

.HomeIcon {
    float: left;
    width: 9.81vh;
}
.instructions {
    text-align: center;
    position: relative;
    margin-top: 40vh;
    color: #b7bdbc;
}
.welcome {
    text-align: center;
    position: relative;
    margin-top: 10vh;
    color: black;
}
.filler {
    margin-left: 9.8vh;
    background-color: #9395D3;
    float: left;
}

/*---------------------------------------------------------------------------------------------*/
/*                               TabFunction.js - TAB CLASSES                                          */
/*---------------------------------------------------------------------------------------------*/

.tab {
    overflow: hidden;
    margin-top: 1px solid;
    background-color: #9395D3;
    font-family: 'Atkinson Hyperlegible', sans-serif;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1vh 6.76vh;
    transition: 0.3s;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 3.1vh;
  }
  .tab button:hover {
    background-color: #B3B7EE;
    font-family: 'Atkinson Hyperlegible', sans-serif;
  }
  .tab button.active {
    background-color: #000807;
    color: #FBF9FF;
    font-family: 'Atkinson Hyperlegible', sans-serif;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #FBF9FF;
  }

/*---------------------------------------------------------------------------------------------*/
/*                               MEDIA QUERIES                                        */
/*---------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
      .filler {
        margin-left: 0px; 
      }
      .tab button {
        padding: 1vw;
    
    }
    .mainButton {
        font-size: 6vw;
        width: 25vw; ;
    }
    .HomeIcon {
        width: 10 vw;
    }
}








@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    
    .indexbody{
        background-color: blue;
      }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    
    .indexbody{
        background-color: olive;
      }
}